@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Coda:wght@400;800&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');

body {
    background-color: #F2CEDA ;

}


.container {
    max-width: 1200px;
    margin: auto;


}

.header__one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header__two {
    display: flex;
    gap: 40px;
}

.header__text {
    font-size: 17px;
    font-weight: bold;
    color: #D23166;
    opacity: 60%;
}

.header__text__one {
    font-size: 17px;
    font-weight: 700;
    color: #150101;
    opacity: 60%;
}

.header__text__one:hover {
    color: #D23166;
}

.header__button {
    padding: 14px 50px 14px 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #D23166;
    border: none;
    font-weight: bold;
}

.polar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    position: relative;


}

.polar__text {
    font-size: 17px;
    font-weight: 600;
    color: #150101;
    margin-top: 20px;
    letter-spacing: 2px;


}

.polar__text__one {
   font-size: 57px;
    font-weight: 600;
    color: #0F0101;
    margin-top: 6px;



}

.polar__text__two {
    color: #D23166;

}

.polar__text__thre {
    width: 480px;
    font-size: 18px;
    font-weight: normal;
    color: #150101;
    height: 78px;
    margin-top: -30px;
    opacity: 60%;

}

.polar__button {
    padding: 14px 50px 14px 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #D23166;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

.polar__img {
    display: flex;
}

.polar__img__two {
    position: absolute;
    top: 100px;
    left: 540px;
}

@media screen and (max-width: 1258px) {
    .polar {
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 1190px) {
    .polar__img__two{

        left: -100px;
        bottom: 0;
        top: 450px;
    }
    .header__two{
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .polar__one{
        justify-content: center;
        align-items: center;
        margin-left: 100px;

    }
    .polar__button {
        margin-left: 120px;
    }
}
@media screen and (max-width: 592px) {
    .polar__text__thre{
        width: 400px;
    }
    .polar__text__one{
        width: 450px;
    }
    .polar__img__two{
        width: 100px;
        height: 300px;
        margin-right: 1px;
    }
    .polar__img__one{
        width: 450px;
        height: 450px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 550px) {
    .polar__text__thre{
        width: 350px;
    }
    .polar__text__one{
        width: 420px;
    }
     .polar__button {
        margin-left:70px;
    }
}
